@import url("./assets/sidebar/sidebar.css");

@font-face {
    font-family: "Popins";
    src: url(./assets/fonts/Poppins/Poppins-Regular.ttf),
        url(./assets/fonts/Poppins/Poppins-SemiBold.ttf),
        url(./assets/fonts/Poppins/Poppins-Bold.ttf);
    font-style: normal;
    font-weight: 400 600 700;
}

.outline {
    /* outline: red solid 1px; */
}

.main {
    /* background-color: rgba(255, 199, 199, 0.637); */
    padding-top: calc(var(--header-height) + 0.25rem) !important;
    font-family: "Poppins", sans-serif;
}

.card-wrapper {
    max-width: 18rem;
    height: 4rem;
}
/*     DATE SELECTOR
 */
.Attendance {
    min-height: 75vh;
    max-width: 100vw;
    background-color: --bs-gray-100;
}

.SideGraph {
    min-height: 12.5rem;
}

.SideGraph canvas {
    min-height: 10rem;
}

.dateSelector_attendance {
    min-width: 38rem;
    outline: #adb5bd solid 1px;
}

.dateSelector_attendance #btnSubmit:hover {
    background-color: rgba(54, 162, 235, 0.6);
    border-color: rgba(54, 162, 235, 1);
}

/* PARA SA MODAL SHESH */
.create {
    display: flex;
    flex-direction: column;
}
.create input {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px 0;
}
.create .btn-primary {
    margin-top: 5px;
    width: 20%;
}

.table-two {
    display: none;
}

/*   DATA TABLE
*/
#data-table_wrapper {
}
/*    MEDIA QUERIES
 */

@media screen and (min-width: 768px) {
    .main {
        padding-top: calc(var(--header-height) + 1.25rem) !important;
        max-height: 100vh;
    }

    .main-wrapper {
        height: calc(100vh - (var(--header-height) + 1.25rem));
    }

    .yearly-chart-wrapper {
        min-height: 16.5rem;
    }

    .side-chart-wrapper {
        min-height: 15rem;
    }

    .card-info-height {
        min-height: 5rem;
    }
}

@media screen and (min-width: 992px) {
    .main-chart-wrapper {
        min-height: 26rem;
    }
}
